.gradle
build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.run/

### VS Code ###
.vscode/
/gradle/
skylinegate-site.code-workspace
